.game-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.color-generate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main-colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 70%;
}

.color-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 15%;
  width: 20%;
  border: 10px solid;
  border-radius: 25%;
  margin: 5%;
  -webkit-box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.color-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 15%;
  width: 20%;
  border: 10px solid;
  border-radius: 25%;
  margin: 5%;
  -webkit-box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.color-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 15%;
  width: 20%;
  border: 10px solid;
  border-radius: 25%;
  margin: 5%;
  -webkit-box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.btn {
  background: #224718;
  color: yellow;
  margin-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

.p {
  font-weight: bolder;
  font-size: 2em;
  margin: auto;
}

.colors-board {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.colors-board .color-item {
  border-radius: 25%;
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid;
  width: 5em;
  height: 5em;
  cursor: pointer;
}

.colors-board .color-item:hover {
  -webkit-box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.disappear {
  display: none;
}

.btn2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 10em;
  height: 10em;
  font-size: 16px;
  border-radius: 50%;
  font-weight: bolder;
  background: #24235F;
  color: white;
}

.added {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-weight: bolder;
  font-size: 18px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 30%;
  color: #1e1f19;
}

.text::first-line {
  font-size: 24px;
  color: teal;
  font-family: 'Times New Roman', Times, serif;
}

body {
  background: #a7dac9;
}

.button {
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.button:focus {
  outline: 0;
}

.button:hover {
  background-color: white;
  /* Green */
  color: black;
}
/*# sourceMappingURL=simon.css.map */